body {
	font-family: "LatoWeb", sans-serif;
    line-height: 1.44;
    font-weight: 400;
}

main {
	padding: 25px;
	overflow: auto;
}

h2 {
	color: #00a2c6
}
h3 {
	color: #00a2c6
}
footer {
	padding: 20px;
	color: white;
	background-color: #00a2c6
}
.feature-image {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	object-position: center;
}
img.fotoProfil {
	width: 100px;
	 display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 100px;
	object-fit: cover;
	object-position: center;
}
.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
}
.header {
   font-size: 20px;
   padding: 60px;
   background-color: #00c8eb;
   text-align: center;
   color: white;
}
header {
   display: inline;
}
nav li {
   display: inline;
   list-style-type: none;
   margin-right: 20px;
}
nav {
	background-color: #00a2c6;
    padding: 5px;
    position: sticky;
    top: 0;
}
nav a {
	font-size: 18px;
	text-decoration: none;
	color: white;
}

#content {
	float: left;
	width: 75%;
}
main {
	padding: 20px;
	overflow: auto;
}
aside {
	float: right;
	width: 25%;
	padding-left: 20px;
}
table {
	margin-left: auto;
	margin-right: auto;
}
* {
	box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
   #content,
   aside {
       width: 100%;
       padding: 0;
   }
}
